/* This sheet is the style of Torbjörns website for assignment 1*/
/*Headers*/
* {
    box-sizing: border-box;
  }
html, body {
    overflow-x: hidden;
  }
h1{
    /*text-align: center;*/
    display: flex;
    align-items: flex-end;
    font-family: "Quintessential", serif;
    /*"Pirata One", serif;*/
    font-weight: bold !important;
    font-size:70px !important;
    color: rgb(0,0,0)!important;
    margin: 0px !important;
    border: 2px solid #982a11;
    background: #982a11;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
h1 span {
    align-self: flex-end; /* Align the text to the bottom as well */
}
@media (max-width: 600px) {
    h1 {
        font-size: 28px !important;/* Reduce font size for smaller screens */
    }
    h1 img.media {
        height: 120px; /* Reduce image size for smaller screens */
    }
}
.active{
    background: #323934;
}
.textruta1{
    font-family: "Saira Stencil One";
    margin-bottom: 50px;
    background-color: #ffffff;
    margin: 30px;
    padding: 30px;
    min-width: 150px;
    max-width: 600px;
    border-radius: 20px;
}
h1.priest{
    /*text-align: center;*/
    font-family: "Caesar Dressing", serif;
    /*"Pirata One", serif;*/
    font-weight: bold !important;
    font-size:55px !important;
    color: rgb(0,0,0)!important;
    margin: 0px !important;
    border: 2px solid #22472b;
    background: #22472b;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1.priest span {
    align-self: flex-end; /* Align the text to the bottom as well */
}
h2{
    font-family: "Special Elite", Arial, Helvetica, sans-serif;
}
h3{
    font-family: "Special Elite", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
}
/*Navigation bar*/
.top_navbar ul{
    list-style-type: none;
    background-color: #262b27;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden;
}
.top_navbar a{
    color: #f0c09e;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: "Nova Cut", Arial, Helvetica, sans-serif;
}
.top_navbar a:hover{
    background-color: #423531;
}
.top_navbar li{
    float: left;
}
/*Main part of the frontpage*/
body{
    margin: 0px;
    background: rgb(36,8,0);
    background: linear-gradient(0deg,rgba(36,8,0,1) 0%, rgba(136,41,13,0.49466950959488276) 0%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
/* Vb page bakgrund */
body.vb {
    background-image: url('logo.png'); /* The image you want to repeat */
    background-repeat: repeat; /* Repeats the image both horizontally and vertically */
    background-size: 100px; /* Size of the image (width x height) */
    background-position: 0 0, 50px 50px; /* Staggered placement for brick effect */
    margin: 0;
    padding: 0;
}
body.priest {
    margin: 0px;
    background: rgb(36,8,0);
    background: linear-gradient(0deg,rgb(0, 36, 6) 0%, rgba(13, 136, 56, 0.495) 0%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}


article{
    margin:40px;
    flex: 1;
}
.side{
    background: linear-gradient(to right,#a4ddc6, #1dc642);
    width: 100%;
}
/*Sidebar*/
.aside{
    width: 20%;
    padding: 0rem;
    box-shadow: inset 20px 0 50px -20px #a4ddda;
    background-color: #8cd89d;
    font-style: italic;
    color: #324235;
    max-height: 250px;
    overflow-y: auto; /* Allow scrolling if content overflows */
}
#sideheader{
font-family: "Macondo", 'Times New Roman', Times, serif;
}
/*the image, adio and the video*/
.media-row{
    background-color: #6ab77b;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 30px;
    margin: 50px 0;
    width: 100%;
    overflow: hidden;
}
.media {
    padding: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
.audio {
    width: 100%;
    max-width: 300px;
}
/*Link to external site*/
.textlink{
    text-decoration: dotted underline;
    cursor:alias;
    font-weight: bold;
}
.textlink:hover{
    color: #0f523d;
    transform: scale(1.2);
}
.textlink:visited {
    color:#1d383f
}
/*Table*/
.table1{
    color: "Black";
    background-color: black !important;
}
.table1 th{
    color: #000000;
    background-color:#809184;
}
.table1 td{
    color: #1c281f;
    background-color:#c6e5ce;
}
/*footer*/
.footer{
    order: 3;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #3c5140;
    color: #1dc642;
}
.social{
    font-size:x-large;
    color: black;
}
.media {
    height: 130px;  /* Adjust this value */
    width: auto;   /* Keeps the aspect ratio */
}
